<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contactos</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script type="text/javascript" src="../static/js/get_all.js"></script>
</head>

<body>
    <div class="header-container">
        <h1 id="header">Contactos</h1>
        <a href="insertar">Insertar</a>
        <a href="buscar">Buscar</a>
    </div>
    
    <div id="tabla_contenedor">
        <table id="table_contactos">
            <thead id="thead_contactos">
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tbody_contactos"></tbody>
        </table>
    </div>
    

    <script>
        document.body.onload = getAll();
    </script>
</body>

</html>